<div class="class-wrapper">
  <div class="class-logo-footer">
    <img src="../../assets/img/footer.png" />
  </div>
  <div class="class-text-footer">
    <div> <a href="#">ABOUT US</a></div>
    <div> <a href="#">TERMS OF SERVICE</a></div>
    <div> <a href="#">PRIVACY POLICY</a></div>
    <div> <a href="#">CONTACT US</a></div>
  </div>
  <div class="class-black-line-footer">
    <div class="class-text-footer">
      <div class="class-bottom-footer"> <a href="#">© 2018 FindParrot</a></div>
    </div>
  </div>
</div>