
<div class="main-part">

  <div class="class-background">
    <div class="class-text">
      <a href="#"> Testimonials</a>
    </div>
    <div class="class-text">
      <span>What our customers told about us</span>
    </div>
  </div>
</div>

<div class="main-corousel-part">
  <div class="class-carousel-center">
    <owl-carousel-o [options]="customOptions">

        <div *ngFor="let id of feedbacks">

      <ng-template carouselSlide>
        <div class="class-element-of-carousel">
          <div id="feedbackId">
            <div class="class-employee-photo">
              <img src="../../assets/img/photo1.png" />
            </div>
            <div class="class-feedback-about-company">
              <p>{{id.feedback}}</p>
            </div>
            <div class="class-conteiner">
              <div class="class-employee-name">
                <a href="#">{{id.name}}</a>
              </div>
              <div class="class-employee-position">
                <label>
                  {{id.position}}
                </label>
              </div>
            </div>
          </div>​​​​
        </div>
      </ng-template>
        </div>
    
    </owl-carousel-o>
  </div>
</div>