<div class="main-part">

  <div class="class-background">
    <div class="class-text">
      <a href="#"> Testimonials</a>
    </div>
    <div class="class-text">
      <span>What our customers told about us</span>
    </div>
  </div>
</div>

<div class="main-corousel-part">
  <div class="class-carousel-center">
    <owl-carousel-o [options]="customOptions">

      <ng-template carouselSlide>
        <div class="class-element-of-carousel">
          <div id="parent">
            <div>
              <img src="../../assets/img/photo1.png" />
            </div>
            тут буде текст
          </div>​​​​
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="class-element-of-carousel">
            <div id="parent">
                <div>
                  <img src="../../assets/img/photo1.png" />
                </div>
                тут буде текст
              </div>​​​​
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="class-element-of-carousel">
            <div id="parent">
                <div>
                  <img src="../../assets/img/photo1.png" />
                </div>
                тут буде текст
              </div>​​​​
        </div>
      </ng-template>

    </owl-carousel-o>
  </div>
</div>