.main-part
    width: 100%
    padding-top: 60px
    display: flex
    justify-content: center
    background-color: #4dadbb
    colot: white
    
.main-corousel-part
    width: 100%
    height: 500px
    display: flex
    justify-content: center
    background-color: #4dadbb

.class-carousel-center
    width: 80%
    margin: auto
    .class-elements-of-carousel
        width: 350px

.class-text
    font-size: 2.4em
    font-weight: bold
    text-align: center
    margin: 0
    
    a 
        color: white
        text-decoration: none
    span
        font-size:  0.6em 
        color: white