<div class="main-part">

<div class="class-background">
  <div class="class-text">
    <a href="#"> Testimonials</a>
  </div>
  <div class="class-text">
    <span >What our customers told about us</span>
  </div>
</div>
</div>

<div class="main-corousel-part">
  <div class="class-carousel-center">
    <owl-carousel-o [options]="customOptions">

      <ng-template carouselSlide>
        <div class="class-element-of-carousel">
          <img src="../../assets/img/picture3.png" />
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="class-element-of-carousel">
          <img src="../../assets/img/picture1.png" />
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="class-element-of-carousel">
          <img src="../../assets/img/picture2.png" />
        </div>
      </ng-template>

    </owl-carousel-o>
  </div>
</div>
