<div class="class-main">
  <div class="class-background">
    <div class="class-text-center">
      <a href="#">Quick Search for Your
        <span class="class-perfect-product"> Perfect Product</span>
      </a>
    </div>
    <div class="class-text-center">
      <span class="class-innovate-list-connect">INNOVATE • LIST • CONNECT</span>
    </div>
    <div id="search-areaId">
      <div id="searchId" class="class-wr">
        <input id="groupdownId" type="text" pInputText />
        <input id="inputId" type="text" pInputText />
        <button id="buttonId" pButton type="button" label="START SEARCHING"></button>
      </div>
    </div>
  </div>
  <div class="class-bottom-first-part">
    <div>
      <img src="../../assets/img/icon_category.png" />
      <label> All categories</label>
    </div>
    <div>
      <img src="../../assets/img/Layer.png" />
      <label> How it works</label>
    </div>
  </div>
</div>