	
.class-wr
	display: flex
	justify-content: flex-end


.class-main 
  background-image: url("../../assets/img/main_page.png ")
  height: 630px
  background-size: 100% 100%
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  justify-content: space-around
  align-items: center
  align-content: space-between

  .class-text-center
		padding-top: 150px
		font-size: 2.4em
		font-weight: bold
		text-align: center
		margin: 0
		a
			text-decoration: none
			color: rgb(72, 72, 72)

		.class-perfect-product
			color: #0e7200
		.class-innovate-list-connect
			
			text-transform: uppercase
			margin-bottom: 20px
			font-size:  0.3em 
			color: #6f6f70
			
		.class-search-form
			width: 100%
		#search-areaId
			max-width: 1000px
			nargin-top: 30px
			#searchId
			
			dispaly: inline
			height: 55px
			border-radius: 10px 10px
			top: 40% 
			box-shadow: 0px 10px 10px rgba(0,0,0,0.27)
			#inputId
				border-radius: 0px
				width: 68%
				height: 53px
				font-size: 0.3em
				border-top-style: none
				border-bottom-style: none
				border-left-style: none
				outline: none
			#groupdownId
				height: 53px
				border-radius: 0px
				width: 15%
				border-radius: 10px 0px 0px 10px
				font-size: 0.3em
				height: 52px
				border-top-style: none
				border-bottom-style: none
				border-left-style: none
				outline: none  
			#buttonId
				text-transform: uppercase
				height: 55px
				font-size: 0.2em
				width: 20%
				font-weight: bold
				border-radius: 0px 10px 10px 0px
				text-align: center
				background: #4dadbb
				cursor: pointer
				color: white
	
.class-bottom-first-part
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: flex-end
	align-items: center
	align-content: space-around
	color: #0e7200
	div
		width: 150px
		padding: auto
		height: 60px
		margin-left: 20px
		margin-right: 20px
		background: rgba(255,255,255,0.8)
		display: flex
		justify-content: center
		align-items: center
		text-align: center
		label
			color: #0e7200
			padding-top: 20px
			padding-bottom: 20px
			margin-left: 5px
			font-size:  0.3em
			
			