<div class="class-second-part">
    <div class="class-text_center">
        <a href="#" a class="class-popular">Most Popular Products</a>
        <p>This if the list of products that are most interested in user </p>
    </div>
    <div class="class-photo">
        <div>
            <img src="../../assets/img/Layer5.png" alt='image'>
            <p>Hubstaff Directory</p>
        </div>
        <div>
            <img src="../../assets/img/Layer6.png" alt='image'>
            <p>Jira 2017</p>
        </div>
        <div>
            <img src="../../assets/img/Layer7.png" alt='image'>
            <p>Slack Pro</p>
        </div>
        <div>
            <img src="../../assets/img/Layer8.png" alt='image'>
            <p>TraveChat</p>
        </div>
        <div>
            <img src="../../assets/img/Layer9.png" alt='image'>
            <p>Network</p>
        </div>
        <div>
            <img src="../../assets/img/Layer10.png" alt='image'>
            <p>Time Camp</p>
        </div>
    </div>S
    <div class="class-text_All_products"> <a href="">All products</a></div>
</div>