
    
body 
    background-color: #f7f7f7
    margin-top: 0
    padding-top: 0
    margin-left: 0
    margin-right: 0
    margin-bottom: 0

    .text_center, 
        padding-top: 40px
        font-size: 8vh
        font-family: "Raleway"
        color: #181717
        text-align: center
       
        p
            color: #b2b2b2
            padding-top: 0px
            font-size: 3vh

    .text_All_products
        padding-top: 40px
        font-size: 3vh
        font-family: "Raleway"
        color: #181717
        display: flex
        justify-content: center
        align-items: flex-end
        
        
        

.transparent
		padding-top: 40px
		display: flex
		justify-content: center
		align-items: flex-end
		font-size:  2.30263vh
		font-family: "Raleway"
		
       
		div
			width: 20%
            max-height: 170px
			height: auto
			margin-left: 30px
            margin-right: 40px
			background: rgba(255,255,255,0.8)
			display: flex
			flex-direction: column
            font-color: #8b8b8b
            
			label
				font-color: #8b8b8b
                
			img
				margin: 1.467vh
                width: 100%
                max-width: 250px
                max-height: 170px
                object-fit: cover
.photo
    padding-left: 10px
    padding-bottom: 20px               				
			
      


        
		