
<body>
    <div class="text_center">
        <a class="popular">Most Popular Products</a>
        <p>This is the list of products that are most interested in user </p>
    </div>


    <div class="transparent">

        <div class="photo"> 
            <img src="../../assets/img/Layer 5.png" alt='image'>
            
            <label>   Hubstaff Directory</label>
     
        </div>

        <div class="photo">
            <img src="../../assets/img/Layer 6.png" alt='image'>
            <label>Jira 2017</label>
        </div>

        <div class="photo">
            <img src="../../assets/img/Layer 7.png" alt='image'>
            <label>Slack Pro</label>
        </div>

      </div >
      <div class="transparent">
          <div class="photo">
              <img src="../../assets/img/Layer 8.png" alt='image'>
              <label>TraveChat</label>
          </div>
  
          <div class="photo">
              <img src="../../assets/img/Layer 9.png" alt='image'>
              <label>Network</label>
          </div>
  
          <div class="photo">
              <img src="../../assets/img/Layer 10.png" alt='image'>
              <label>Time Camp</label>
          </div>
  
        </div>

        <div class="text_All_products"> <a href="">All products</a></div>
       
</body>