<div class="body">


    <div class="header">
      <div class="wrapper">
        
        <div id="left-side-menu">
           
          <a >FIND PARROT</a>
          <label >
            <p>INNOVATE</p>
              <span class="symbol">*</span> 
              <p>LIST</p>
              <span class="symbol">*</span> 
              <p>CONNECT</p>
          </label>
          
        </div>
          <div id="right-side-menu">
            <a >ALL PRODUCTS</a>
            <a >ABOUT US</a>
            <a >LOG IN</a>
            <a >SING UP</a>
          </div>
       
      </div>
    </div>
    </div>
