<div class="header">
  <div class="wrapper">

    <div id="left-side-menu">

      <p class="logo"></p>

    </div>
    <div id="right-side-menu">
      <a>ALL PRODUCTS</a>
      <a>ABOUT US</a>
      <a>LOG IN</a>
      <hr>
      <a>SING UP</a>
    </div>

  </div>
</div>

<div class="body">
  <div class="text_center">
    <a>Quick Search for Your
      <span> Perfect Product</span>
    </a>
    <p>INNOVATE • LIST • CONNECT</p>
  </div>
  <div class="filter-search">
    <div class="filter-form">
      <div class="wrapper">
        <input type="text" pInputText />
        <p-button label="START SEARCHING" name="Submit"></p-button>
      </div>
    </div>
  </div>
  <div class="transparent">
    <div >
        <img src="icon_category.png">
      <p>  All categories</p>
    </div>
    <div >
        <img src="Layer.png"> 
      <p> How it works</p>
    </div>
  </div>
</div>