 

#parent 
    width: 520px
    height: 260px
    position: relative
    top: 50px
    left: 50px
    background: #eee
    border-radius: 20px 20px 20px 20px
    display: flex
    justify-content: center
    align-items: center
    padding-left: 20px
    pdding-right: 20px

#parent > div 
    position: absolute
    top: -50px
    left: 215px