<div id="feedbackId">
  <div class="class-employee-photo">
    <img src="../../assets/img/photo1.png" />
  </div>
  <div class="class-feedback-about-company">
    <p>I have been incredibly impressed with LinkUp team of developers.
      They worked hard to deliver the highest-quality product possible
      and exceeded my expectations at every step of the way. I initially
      found Andriy in search of a better price than what I could find locally
      with other development firms. But what I found - in addition to a better
      price - was a much higher-quality product as well, in every way: service,
      design, development, communications...etc. 5+++ Stars work. Great job.</p>
  </div>
  <div class="class-employee-name">
    <a href="#">Johm Kammon</a>
  </div>
  <div class="class-employee-position">
    <label>
      Wholesum Founder
    </label>
  </div>
</div>​​​​